*{
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  background-color: white;
  margin: 0px;
}


/* ----------------- */

.menu {
  display: flex;
  align-items: center;
  justify-content: start;
  grid-column: 1/-1;
  background: black;
  height: 60px;

  position: sticky;
  top: 0px;
  position: -webkit-sticky;
  z-index: 3;
}

.menu button:hover {
  font-weight: bold;
}
.menu button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  margin: 0px 5px;
  cursor: pointer;
}

.tabs-container {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 60px);
  scroll-snap-type: y mandatory;
  background: white;
}

.tabs-wrapper {
  width: 100%;
  height: max-content;
}

.tableau-wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 5vh 100px;
  overflow: auto;
  scroll-snap-align: start;
}


.header {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 1vw;
    font-family: "Lucida Console";
}

h2{
    text-align: center;
}

  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    height: max-content;
    width: 100%;
  }
 


  /* -----------RAID logo */
  #raid-logo {
    position: absolute;
    height: 25px;
    bottom: 20px;
    right: 20px;
}
#raid-logo img {
    height: 100%;
    mix-blend-mode: exclusion;
}

@media(max-height:800px){
  #raid-logo{
    height: 30px;
  }
}