/* layout */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-auto-rows: 16rem;
  grid-gap: 0;
}

.grid--big-columns {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.grid--big-gap {
  grid-gap: 2.5rem;
}

/* styling */

.card--expanded {
  grid-column: span 3;
  grid-row: span 3;
  .card__img {
    transform: scale(1.03);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  animation-delay: 0.3s;
}

.card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card__img {
  transition: transform 1s;
}

body {
  background-color: #000000;
  color: #fff3f3;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.mb-4 {
  margin-bottom: 1rem;
}

.p-4 {
  padding: 1rem;
}

button {
  padding: 0.75rem;
  margin-right: 0.75rem;
  background-color: #191919;
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

button:hover {
  background-color: hsla(0, 0%, 83%, 0.05);
}
button:focus {
  box-shadow: 0 0 0 3px #7396e4;
  outline: none;
}

a {
  font-weight: bold;
  color: #7396e4;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

code {
  color: #7396e4;
}


.tabs {
  position: relative;
  display: flex-column;
  flex-wrap: nowrap;
  margin-right: 50px;

}
.tabs label {
  display: flex;
  background: #1f1f1f;
  border: solid 3px #4b4b4b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 1;
  margin-top: -3px;
}
.tabs label:first-of-type {
  margin-top: 0;
}
.tabs div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  order: 1;
  flex: 1;
  margin-top: -3px;
  padding: 15px;
  border: solid 3px #4b4b4b;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  min-height: 300px;
}
.tabs div:last-of-type {
  border-radius: 5px;
}
.tabs div p {
  text-indent: 4rem;
}
.tabs input[type=radio], .tabs div {
  display: none;
  visibility: none;
  transition: all 2s ease-in-out;
}
.tabs input[type=radio]:checked + label {
  background: #fafafa;
  border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.tabs label:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tabs input[type=radio]:checked + label + div {
  display: flex;
}


  .tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    flex: 1;
  }
  .tabs label {
    display: flex;
    background: #1f1f1f;
    border: solid 3px #4b4b4b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1;
    margin-top: 0px;
    margin-left: -3px;
  }
  .tabs label:first-of-type {
    margin-left: 0;
  }
  .tabs div {
    display: flex;
    order: 1;
    flex: 1 0 100%;
    margin-top: -3px;
    padding: 15px;
    border: solid 3px #4b4b4b;
    border-radius: 5px;
    border-top-left-radius: 0px;
    min-height: 500px;
    /* max-height: 500px; */
    overflow-y: auto;
  }
  .tabs div::-webkit-scrollbar {
    width: 10px;
  }
  .tabs div::-webkit-scrollbar-track {
    background: #fafafa;
  }
  .tabs div::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .tabs div::-webkit-scrollbar-thumb:hover {
    background: #333333;
    cursor: pointer;
  }
  .tabs input[type=radio], .tabs div {
    display: none;
  }
  .tabs input[type=radio]:checked + label {
    background: #444444;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: #fafafa;
    transition: all 250ms;
  }
  .tabs input[type=radio]:checked + label + div {
    display: flex;
    /* overflow-y: scroll; */
  }
  /* .tabs input[type=radio]:checked + label + div * {
    -webkit-animation: fadeIn 750ms;
    animation: fadeIn 750ms;
  } */


.text-help {
  display: -webkit-box;
    padding: 1px;
    height: 100px;
    margin-top: 5%;
}


.tab-container{
  display: flex;
}

.row {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 60px 30px; */
  /*background: #032429;*/
  position: relative;
  z-index: 1;
  text-align: center;
}
.row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -5000px;
  height: 100%;
  /* width: 15000px; */
  z-index: -1;
  background: inherit;
}
.row:first-child {
  padding: 40px 30px;
}
.row:nth-child(2), .row:nth-child(8), .row:nth-child(10) {
  background: #134A46;
}
.row:nth-child(3), .row:nth-child(7) {
  background: #377D6A;
}
.row:nth-child(4), .row:nth-child(6) {
  background: #7AB893;
}
.row:nth-child(5) {
  background: #B2E3AF;
}
.row span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}


.balloon {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #d2e2de;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
}
.balloon::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.balloon + labelaki {
    top: -10px;
    left: -20px;
    display: inline-block;
    height: 20px;
    position: absolute;
/*    top: 8px;
    left: 0;
    bottom: 8px;*/
    padding: 5px 15px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all .3s ease-in-out;
    border-radius: 3px;
    background: rgb(68, 68, 68);
}
.balloon + labelaki:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  transition: all .3s ease-in-out;
}

.balloon:focus,
.balloon:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
}
.balloon:focus::-webkit-input-placeholder,
.balloon:active::-webkit-input-placeholder {
  color: #aaa;
}
.balloon:focus + labelaki,
.balloon:active + labelaki {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7ab893;
  transform: translateY(-40px);
}
.balloon:focus + labelaki:after,
.balloon:active + labelaki:after {
  border-top: 4px solid #7ab893;
}