
:root{
    --svgWidth: 100%;
    --svgHeight: 100%;

    --lineOpacity: 0.25;
    --lineStroke: 2px;
    --axesGrey: rgb(200, 200, 200);
    --selectedOpacity: 0.85;
    --selectedStroke: 2.5px;
}


/* Axes */
.x-axis{
    transform: translate(0,var(--svgHeight));
}


.x-axis text, .y-axis text, .y-label, .x-label{
    fill: var(--axesGrey);
}

.x-axis line, .y-axis line, .x-axis path, .y-axis path{
    stroke: var(--axesGrey);
}

.x-label {
    transform: translate(50%,calc(var(--svgHeight) + 40px));
    text-anchor: middle;
    font-size: 10pt;
}

.y-label{
    transform: translate(-50px,calc(var(--svgHeight) / 2)) rotate(-90deg);
    text-anchor: middle;
    font-size: 10pt;
}


/* Grid */
.grid{
    stroke-opacity: 0.07;
    shape-rendering: crispEdges;
}

.grid .tick line{
    stroke: white;
}


/* Lines */
.selected-label{
    font-size: 0.75rem !important;
    text-anchor: middle;
    transform: translate(calc(var(--svgWidth)/2),-10px);
    fill: white;
}

.selected-line{
    opacity: var(--selectedOpacity) !important;
    stroke-width: var(--selectedStroke) !important;
    cursor: pointer !important;
}

.line-group path{
    opacity: 1;
    stroke-width: var(--lineStroke);
    cursor: none;
}


#cost .circle, #speed .circle, #curvature .circle{
    opacity:0 !important;
}


/* -------------- Thresholds */
.threshold-group{
    stroke-dasharray: 2,2
}

.straight{
    stroke: #5d7167;
    fill: #8d9f9742;
}


.extreme_small{
    stroke: #ce9ea5;
    fill: #bf4f4f12;
}


/* ---------------Tooltip */

.tooltip {
    position: absolute;
    top: 10px;
    left: 100px;
    width: max-content;
    max-width: 70vw;
    padding: 5px;
    background-color: #626262bd;
    color: #e1e1e1;
    text-align: left;
    font-size: 0.75rem;
}

/* ------------------ */

.line-graph-rect{
    stroke: none;
}

.line-graph-line {
    stroke-width: 2;
    fill: none;
}

.line-group path.line-graph-area {
    stroke-width: 2 !important;
    opacity:0.3;
}

.not-selected{
    opacity:0.05 !important;
}

#speed .not-selected, #curvature .not-selected{
    opacity:0.2 !important;
}

.background path {
    fill: none;
    stroke: #b1b1b1;
    opacity: 0;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: rgb(146, 62, 121);
    stroke-width: 1;
}

.axis line,
.axis path {
  fill: none;
  stroke: rgb(220, 220, 220);
  shape-rendering: crispEdges;
}

.axis-label {
  cursor: move;
}

.axis .axis-label, .axis-label {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}

.selected {
    fill: #c67878;
    opacity: 1;
}

.node.selected .label {
  display:block;
}

#parallel-coord{
    grid-row:2/3; 
    grid-column: 1/-1; 
    width: calc(100% - 200px);
    height: calc(100% - 40px);
    padding: 20px 100px;
}

#parallel-coord svg{
    width: var(--svgWidth);
    height: var(--svgHeight);
}

.legend text{
    fill: white;
    font-size: 0.75rem !important;
}