/* General */
:root{
    --colapsibleSize : 200px;
}

*{
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body, html {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.hidden{
    display: none;
}




.axis path {
    stroke: black;
}

.text {
    font-size: 12px;
}

.title-text {
    font-size: 12px;
}

.labels{
    transform: translate(0,calc(100% - 10px));
}
.labels text{
    fill: white;
}
 


g.tick{
    font-family: 'Work Sans', sans-serif;
    font-size: 8pt;
}
  
svg{
    font-family: 'Work Sans', sans-serif;
    overflow: initial;
}

.container-parent{
    overflow: auto;
    width: calc(100% - 20vw);
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.legend-padding {
    padding: 0px 120px 0px 100px;
    width: 100%;
    height: max-content;
}

.legend-wrapper {
    height: 30px;
    width: min-content;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    scrollbar-color: #ffffff2b #ffffff1c;
    scrollbar-width: thin;
}

.graph-wrapper{
    margin: 5vh 0px;
    width: 100%;
    height: 40vh;
    position: relative;
}

.graph-wrapper label{
    padding: 0px 80px;
    font-size: 0.95rem;
    color: white;
    font-weight: bold;
}

.graph {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin: 0px;
    padding: 20px 100px 0px 100px;
    overflow: auto;
    scroll-snap-align: start;
    scroll-margin-top: 7vh;
}


.graph-select {
    position: absolute;
    top: 20px;
    right: 110px;
    width: max-content;
    z-index: 2;
    background-color: transparent;
    color: #e1e1e1;
    border: none;
    padding: 3px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: right;
    cursor: pointer;
}
.graph-select:hover{
    font-weight: bold;
}

.graph-select option {
    background: #484848;
    border: none;
}



/* ----------- Collapsible */
.menu-item {
    position: relative;
    color: white;
    padding-top: 15px;
    max-height: 60vh;
}

.menu-item button {
    padding: 5px 0px 5px 10px;
    min-width: 100%;
    color: white;
    border: none;
    white-space: nowrap;
    text-align: left;
    background: gray;
}
.menu-item button *{
    cursor: pointer;
}
.menu-item button input{
    margin:3px;
}
.menu-item button:hover{
    font-weight: bold;
}
.menu-item .menu-label.selected{
    background: gray;
    font-weight: bold;
}

.menu {
    width: 20vw;
    min-width: 200px;
}

.menu-item .hidden-part label{
    text-align: start;
}



#list-container {
    height: max-content;
    width: 100%;
    overflow-x: hidden;
}


.apply-btn, .refresh-btn {
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    background: #80808082;
    padding: 5px 0px;
}

.graph-buttons {
    position: absolute;
    width: 20vw;
    min-width: 200px;
    bottom: 15px;
}
.refresh-btn:hover, .apply-btn:hover{
    font-weight: bold;
}

/* --------------------- Nested List */

.category-container {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.open-close {
    position: absolute;
    top: -8px;
    padding: 0px 2px;
}

#plus, #minus {
    background-color: transparent;
    border: 1px solid transparent;
    height: 100%;
    cursor: pointer;
    color: white;
    padding: 5px 0px 5px 5px;
}
button#minus {
    transform: rotate(90deg);
}

.sub-container {
    width: 95%;
    margin-bottom: 20px;
}


/* -------------------- Check Rows */
.container-wrapper{
    max-height: calc(30vh - 50px);
    overflow: auto;
    scrollbar-color: #ffffff2b #ffffff1c;
    scrollbar-width: thin;
}
.container-wrapper.existing{
    max-height: calc(60vh - 50px);
}

.hidden-container *{
    font-size: 0.8rem !important;
    font-weight: normal !important;
}
.hidden-container{
    margin-left: 30px;
    height: max-content;
}
.hidden-container.existing{
    margin-left: 30px;
    overflow: hidden;
    height: 50vh;
}

.check-row {
    display: flex;
    align-items: center;
    margin: 4px 0px;
    width: max-content;
}

.check-row LABEL {
    margin-left: 5px;
    width: calc(100% - 20px);
    font-size: 0.85rem;
}

.check-row input, .check-row LABEL{
    cursor: pointer;
}


/* --------------------------Slider */
#rail-slider {
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#rail-slider label{
    transform:rotate(90)
}

/* Input Range */
.inputRange {
    width: calc(100% - 20px);
    height: 2px;
    float: left;
    min-width: 100px;
    -webkit-appearance: none;
    background: #070707;
    opacity: 0.7;
    position: absolute;
}
.inputRange::-webkit-slider-thumb, .inputRange::-moz-range-thumb{
    -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border:none;
  cursor: pointer;
  border-radius: 50%;
}
.inputRange:hover {
    opacity: 1;
    background: #2f2f2f;
}
.inputRange:disabled, .inputRange:disabled::-moz-range-thumb{
    opacity: 1;
    background: #c4c4c4;
}

/* Input Checkbox / Radio */
input[type=checkbox], input[type="radio"]{
    width: unset;
    min-width: unset;
}


/* Labels */
#labels {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
}
#labels div {
    width: 1px;
    transform: rotate(-90deg) translate(0px,15px);
    font-size: 0.7rem;
}


.exisiting-alignment-menu {
    transform: rotate(90deg) translate(24vh,23vh);
    margin-bottom: 610px;
    width: 50vh;
}

.menu-item label {
    font-size: 0.9rem;
    font-weight: bold;
} 

.category-container .header{
    margin-left: 10px;
}

.category-container .header label{
    width: unset;
    margin-left: 10px;
}



/* Responsive */
@media(min-width:1765px){
    .menu{
        width: 350px !important;
    }
    .graph-buttons{
        width: 350px !important;
    }
    .container-parent{
        width:calc(100vw - 350px) !important;
    }
}


@media(max-height:700px){
    #labels div {
        width: 1px;
        transform: rotate(-90deg) translate(0px,15px);
        font-size: 0.7rem !important;
    }

    .menu-label label, .apply-btn {
        font-size: 0.8rem !important;
    }
}

@media(max-height:850px){
    .exisiting-alignment-menu {
        transform: rotate(90deg) translate(240px,230px);
        margin-bottom: 610px;
        width: 500px;
    } 
    .hidden-container.existing {
        height: 500px;
    }

}

@media(max-width:700px){
    .menu{
        min-width: 100px;;
    }
    .menu-item button{
        width: 100%;
    }
    .menu-item label{
        font-size: 0.7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 70%;
    }
    .hidden-container {
        margin-left: 15%;
    }
    .graph-buttons {
        position: absolute;
        width: 50px;
        bottom: 15px;
        min-width: unset;
    }
    #labels div {
        width: 1px;
        transform: rotate(-90deg) translate(0px,15px);
        font-size: 0.7rem !important;
    }
}

@media(max-width:500px){
    .container-parent{
        overflow: auto;
    }
    .container{
        min-width: 500px;
    }
    .menu {
        min-width: 50px;
    }
    .menu-item button{
        width: 100%;
    }
    .menu-item label{
        font-size: 0.7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 70%;
    }
    .hidden-container {
        margin-left: 15%;
    }

    .graph-buttons {
        position: absolute;
        width: 50px;
        bottom: 15px;
        min-width: unset;
    }
    #labels div {
        width: 1px;
        transform: rotate(-90deg) translate(0px,15px);
        font-size: 0.7rem !important;
    }
}