/* General */
body{
    position: relative;
    overflow-x: hidden;
}

.hidden{
    display:none !important;
}

/* ------------- DropDown Menu */
.menu{
    background: transparent;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}
.menu-item{
    position: relative;
    background: transparent;
    width: max-content;
    color: white;
    padding: 10px 20px;
}
.menu-item .hidden-container{
    display:none;
}

.menu-item .menu-label{
    cursor: pointer;
}
.menu-item .menu-label:hover{
    font-weight: bolder;
}

.menu-item .menu-label:hover + .hidden-container, .hidden-container:hover{
    position: absolute;
    top: 0px;
    padding-top:50px;
    display: unset;
    grid-template-rows: 30px;
    grid-template-columns: max-content;
    right: 0px;
    z-index: 2;
    background: transparent;
}

.menu-item .hidden-container .list-container{
    background: #212121;
}

.menu-item .hidden-container button{
    border: none;
    border-radius: 0px;
    background: transparent;
    margin: 0px;
}
.menu-item .hidden-container button:hover{
    background: black;
}



/* ------Notification Popup*/
.disable-screen{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
    position: absolute;
    z-index: 3;
}

.notification-popup{
    position: sticky;
    position: -webkit-sticky;
    top: calc(50vh - 175px);
    left: calc(50vh - 175px);

    width: 400px;
    height: max-content;
    margin: calc(50vh - 175px) auto;
    align-self: center;
    background-color: white;
    padding: 30px;

    filter: drop-shadow(10px 10px 4px #00000040);
    border-radius: 8px;
}
.notification-popup .message{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 340px;
    height: max-content;
}
.notification-popup .message #warning{
    color: #c40000;
    text-align: center;
    width: 100%;
}

.notification-popup .message p{
    color: #494949;
    text-align: justify;
}
.notification-popup .message label{
    color: #494949;
    word-break: keep-all;
    font-size: 0.9rem;
}

.notification-popup .message .name{
    text-decoration: underline;
    margin-top: 10px;
}
.notification-popup .message .value{
    font-weight: bold;
}

.x-button{
    background: transparent !important;
    color: #b6b3b3 !important;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem !important;
    width: 20px !important;
    height: 20px !important;
    padding: 0px;
    border: none !important;
}

.x-button:hover{
    color: #464646 !important;
    cursor: pointer !important;
}

.error-message{
    position: absolute;
    width: calc(100% - 60px);
    text-align: center;
    color: #c40000;
    font-size: 0.8rem;
    bottom: 30px;
}

/*------------------------------------------ Right Bar */
/* Path Label */
#path-names{
    width: max-content;
    margin: 0px;
    display: flex;
}

#path-names .row{
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    margin: 0px 5px;
    padding: 0px;
    background: transparent;
}
#path-names .row LABEL{
    font-size: 0.8rem;
    color: #c5d0df;
    padding-left: 3px;
}
#path-names .row LABEL#attribute{
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    color: #c5d0dfb8;
    padding: 0px;
}


/* Buttons */
.buttons-column{
    overflow: auto;
    height: max-content;
    display: inline-block;
    max-width: 100%;
    max-height: 90%;
}



.sideBar#right_bar{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    grid-template-rows: max-content 1fr;
}


.sideBar button.grid{
    display: initial;
}

.sideBar .row span{
    margin:0px;
    width:100%;
}

#right_bar .row{
    padding:0px;
    width: 100%;
    background: none;
}

.sideBar button{
    border: none;
    border-radius: 5px;
    width: 75%;
    max-width: 170px;
    min-width: 100px;
    /* max-height: 40px; */
    padding: 1.1vh 0px;
    margin: 1.01vh;
    cursor: pointer;
}

/* .sideBar button:disabled, .sideBar button:disabled:hover{
    color: #bebebe;
    background-color: transparent;
    cursor: auto;
    padding: 0px;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0px;
    font-size: 0.7rem;
    transition: all .1s ease-in-out;
} */
.sideBar button.disabled, .sideBar button.disabled:hover{
    cursor: auto;
    color: #828993;
    background-color: #d7d7d7;
    border: 1px solid lightgray;
}

.sideBar .current-step{
    cursor: auto;
    color: white;
    background-color: #7ab893;
    border: 1px solid lightgray;`
}

.sideBar .next-step{
    cursor: pointer;
    color: #e3e3e3;
    background-color: #2d2d2d;
    /* border: 1px solid lightgray; */
}
.sideBar .next-step:hover{
    background-color: black;
    color: lightgray;
    transition: all .1s ease-in-out;
}


.sideBar button.popup-button{
    background: #747F8F;
    color: white;
    border-radius: 2px;
    margin-bottom: 0px;
    padding: 2px;
    cursor: pointer;
}
.sideBar button.popup-button:hover{
    background: #815c77;
    color: white;
    transition: all .1s ease-in-out;
}


/*------------------------------------------ PopUps */

#popups{
    position: absolute;
    grid-row: 2/3;
    grid-column: 1/-1;
    z-index: 2;
    width: 30%;
    min-width: 400px;
    height: 100%;
    top: 0px;
    left: calc(100% + 250px);
}
.popup{
    width: 100%;
    height: 100%;
    padding-top: 31px !important;
    padding-left:20px;
    position: absolute;
    background: #f5f5f5e0 !important;
    border-left: 4px solid #292929;
    overflow: auto;
}
.balloon{
    border: 1px solid gray;
}



.weight_container span{
    display: flex !important;
    align-items: center;
}

.weight_container span span{
    font-size: 0.9rem !important;
}
.weight_container span span:hover{
    -webkit-text-fill-color: #070707b0 !important;
    font-weight: bold;
}


.inputRange{
    width: 10%;
    height: 1px;
    float: left;
    min-width: 100px;
    -webkit-appearance: none;
    background: #7f7f7f;
    opacity: 0.7;
}
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #7ab893;
  border:none;
  cursor: pointer;
  }
.inputRange::-moz-range-thumb {
    width: 10px;
  height: 10px;
  background: #7ab893;
  border:none;
  cursor: pointer;
}
.inputRange:hover {
    opacity: 1;
    background: #7ab893;
}
.inputRange:disabled, .inputRange:disabled::-moz-range-thumb{
    opacity: 1;
    background: #c4c4c4;
}

.inputNumber{
    width: 30px;
    margin-right: 5%;
    padding: 0.5px 2px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    background: white;
}
.inputNumber:disabled{
    border: 1px solid #c9c9c9a3;
    background: #fff;
    -webkit-text-fill-color: #8c8c8c;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}


/* Smoothening */
#smoothening.popup,  #path-end-points.popup{
    color: black;

}

#smoothening span, #path-end-points span{
    display: flex !important;
    align-items: center;
}

#smoothening span span, #path-end-points span span, #path-end-points div{
    font-size: 0.9rem !important;
}

.input-group h3{
    font-weight: unset;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #a8a8a8;
    width: 70%;
    color: black;
    text-align: start;
}

#smoothening .input-group, #path-end-points .input-group{
    margin-bottom: 40px;
}

#path-end-points .text-input{
    margin: 30px 20px;
}

input[type=checkbox], label{
    cursor: pointer;
}



/* -------------------------Grid Weights */
.weight_{
    position: relative;
}

.weight_ .context-container{
    position: absolute;
    left: 150px;
    display: none !important;
    z-index: 3;
    width: 60%;
    background: transparent;
}

.weight_ .context{
    background: #fff;
    width: 100%;
    font-size: 0.75rem !important;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 1px 5px rgba(4, 4, 4, 0.62);
    max-width: 200px;
}
.context-container.bottom{
    top: 100%;
}
/* .context.bottom{
    margin-top: 20px;
} */
.context-container.top{
    bottom: 100%;
}
/* .context.top{
    margin-bottom: 20px;
} */

.name-contaner{
    cursor: default;
}

.name-contaner:hover + .context-container{
    display: unset !important;
}



/* ------------- Open/Close PopUps */
.selected{
    background: #87A493 !important;
    color: white !important;
}

/* Transform */
.transform{
    -webkit-transition: all 0.5s ease;  
    -moz-transition: all 0.5s ease;  
    -o-transition: all 0.5s ease;  
    -ms-transition: all 0.5s ease;  
    transition: all 0.5s ease;
}

/*Slide */
.slide{
    position: absolute !important;
    left: 0px;
}

.slide.in{
    left: calc(-100% - 250px);
}

#slide .tabs{
    position: relative;
    overflow-y: hidden;
}


/*Fade */
.fade{
    position: absolute !important;
    opacity: 0;
}

.fade.in{
    opacity:1;
}

#fade .tabs{
    position: relative;;
    overflow-y: hidden;
}


/* -------------------------------------------------Map */
/* Map Inputs */
#three_container .map-inputs{
    width: max-content;
    position: absolute;
    top: 361px;
    left: 25px;
    /* top: 421px;
    left: 29px; */
    z-index: 1;
    display: flex;
}

#three_container .map-inputs .search-buttons{
    width: min-content;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 5px rgba(4, 4, 4, 0.62);
    height: min-content;
}
#three_container .map-inputs .search-buttons button{
    background-color: #464646;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 25px;
    font-weight: inherit;
    padding: 0px;
    margin: 0px;
    width: 26px;
    font-size: 0.7rem;
}

#three_container .map-inputs .topBar-contents{
    width: min-content;
    padding: 0px;
    background: transparent;
    margin-left: 5px;
    height: min-content !important;
    display: grid !important;
    grid-template-rows: 26px 26px;
}

#three_container .topBar-contents #w3w{
    grid-row: 1/2;
}
#three_container .topBar-contents #lat-long{
    grid-row: 2/3;
}

#three_container .map-inputs .topBar-contents div{
    width: max-content;
    display: flex;
    margin: 0px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    border-radius: 4px;
    border: 1px solid #9f9f9f;
    flex-wrap: unset;
    order: unset;
    flex: unset;
    padding: 0px;
}

#three_container .map-inputs .row span{
    position: relative;
    display: inline-block;
    margin: 0px;
    width: min-content;
}
#three_container .map-inputs .balloon{
    border: 1px solid #ccc;
    display: inline-block;
    width: 180px;
    padding: 0px;
    font-weight: 400;
    color: #747f8f;
    font-family: 'Work Sans', sans-serif;
    background: #fff;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    outline: 0;
    text-indent: 60px;
    transition: all .3s ease-in-out;
    height: 25px;
    padding-left: 10px;
}

#three_container .map-inputs .balloon + labelaki{
    top: 0px;
    left: -1px;
    display: inline-block;
    position: absolute;
    padding: 5px 0px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all .3s ease-in-out;
    border-radius: 3px;
    background: rgb(68, 68, 68);
    height: 24px;
    width: 65px;
    margin: 0.5px;
}
#three_container .map-inputs .balloon:focus + labelaki,
#three_container .map-inputs .balloon:active + labelaki {
  color: #fff;
  background: rgb(68, 68, 68);
  transform: translateY(0px); 
}

#three_container .map-inputs .topBar-contents button{
    background-color: #fff;
    color: #464646;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    height: 25px;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    width: 25px;
}



#three_container .graph-button{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 420px;
    left: 25px;
    z-index: 1;
}

#three_container .graph-button button{
    border-radius: 4px;
    width: 26px;
    height: 26px;
    padding: 2px;
    margin: 0px;
    background: #ecececab;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.33);
    border: 1px solid #bfbfbf;
}


#three_container .graph-button button img{
    width: 20px;
    height: 20px;
}


/*--- Left Graph */
#tab-1{
    text-align: center;
    flex-direction: column;
    position: relative;
}

.sideBar#left_bar {
    display: flex;
    border: none;
    width: 115px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    height: calc(50% - 50px);
    background: #ecececab;
    top: 50%;
    left: 80px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.33);
    margin: 0px;
    transition: none;
}

.sideBar#left_bar h5 {
    color: #444;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid grey;
    font-weight: unset;
    width: 100%;
    align-self: center;
    margin-bottom: 15px;
    height: 25px !important;
}

.sideBar#left_bar svg{
    width: 15px;
    height: calc(100% - 40px);
}
#labels-svg{
    width: 80px !important;
}
.sideBar#left_bar svg g#graph{
    width: 15px;
    height: auto;
    transform: translate(calc(100% - 15px), 0px);
}
.sideBar#left_bar svg#labels{
    width: 100%;
    height: auto;
    transform: translate(0px, 11px);
}
.sideBar#left_bar svg g#labels{
    width: 100%;
    height: auto;
    transform: translate(0px, 11px);
}
/* .sideBar#left_bar #labels LABEL{
    position:absolute;
    color:#4e5257;
    font-size:0.7rem;
} */
.sideBar#left_bar svg text{
    fill: #828993;
    font-size:0.6rem;
}



/* ---------------- Graphs */
.tabs #graphs{
    display: flex;
    margin-left: auto;
    position:relative;
    width: max-content;
    min-width: 140px;
}

.tabs #graphs span{
    display:none;
}

/* .tabs #graphs:hover{
    font-weight: bold !important;
} */
.tabs #graphs .menu-label:hover + span, .tabs #graphs span:hover{
    position: absolute;
    top: 0px;
    padding-top:35px;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: max-content;
    right: 0px;
    z-index: 2;
}

.tabs #graphs span label{
    background: #212121;
    text-align: start;
    /* font-weight: normal !important; */
}
.tabs #graphs span label a{
    font-weight: unset;
    color: unset;
    text-decoration: none;
}
.tabs #graphs span label:hover{
    background: #444444;
    /* font-weight: normal !important; */
}



/* -----------------------------Graggable */
.draggable{
    position: absolute;
    top: 60%;
    left: calc(50% - 150px);
    z-index: 5;
    background-color: black;
}

.window{
    width:300px;
    height:300px;
    resize: both;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

textarea{
    width: 100%;
    height: calc(100% - 50px);
    resize: none;
    background: transparent;
    border: none;
    color: #05c305;
}

.drag-btn{
    width:100%;
    height:30px;
    background-color: transparent;
    color: white;
    cursor: move;
    border-bottom: 1px solid gray;
}

.drag-btn button{
    margin: 0px;
    padding: 5px 10px;
    background-color: transparent;
    color: lightgray;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: max-content;
    float: inline-end;
}
.drag-btn button:hover{
    font-weight: bolder;
}

.window .buttons{
    width: 100%;
    background: #212121;
    display: flex;
    justify-content: center;
}
.window .buttons button{
    width: 100%;
    border-radius: 0px;
}
.window .buttons button:hover{
    background: #bdbaba30;
}

.window button{
    padding: 3px 10px;
    background-color: transparent;
    color: lightgray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100px;
}

.drag-btn:hover{
    background-color: #acacac1c;
}

.footer button{
    background-color: transparent;
    color: lightgray;
    border: none;
    cursor: pointer;
    width: max-content;
    float: inline-end;
    border-radius: 0px;
    margin: 0px;
}
.footer button:hover{
    background: #444;
}


/* -------------------------------------------- */
@media(min-height:600px){
    .sideBar button{
        padding: 10px;
        margin: 9px;
    }
}


@media(min-width:980px){
    .mainArea{
        grid-template-columns: 1fr 250px;
    }
}

@media(max-width:750px){
    #popups{
        min-width: unset;
        width: 100%; 
    }

    .balloon{
        padding: 3px 0 3px 5px;
        border-radius: 2px;
        width:100px;
    }
    .labelaki{
        padding: 2px 3px;
        height:unset;
    }
    .balloon + labelaki{
        padding: 2px 3px;
        height:unset;

    }

    #smoothening span span, #path-end-points span span, #path-end-points div, .weight_container span span, .input-group h3 {
        font-size: 0.7rem !important;
    }

    .inputRange {
        min-width: 80px;
    }
    .inputNumber{
        margin-right: 5px;
    }
    .weight_ .context-container{
        left: 120px;
    }


    .message .row{
        display: flex !important;
        flex-direction: column;
    }
    .message .row label{
        margin-bottom: 10px;
    }
    #submitCred{
        padding: 2px 2px; 
        width: unset; 
    }

    .notification-popup{
        margin: unset;
        border-radius: 0px;
        display: flex;
        background: #ffffffb8;
        width: 100%;
        height: 100%; 
    }
    .notification-popup .message {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: max-content;
        height: max-content;
        margin: auto;
    }

    /* General */
    .main{
        grid-template-rows: 40px calc(100vh - 70px) 30px;
    }

    .mainArea{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 60px calc(100% - 60px);
    }
    .mapContainer{
        height: calc(100vh - 130px);
        grid-row:2/3;
    }
    .sideBar#right_bar{
        height: 100%;
        width: 100vw;
        padding: 0px 10px; 
        grid-row: 1/2;
        background: whitesmoke;
    }
    #right_bar .row{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; 
    }
    .mapControllers{
        display: flex !important;
    }
    .sideBar button {
        height: 20px;
        white-space: nowrap;
        width: max-content;
        max-width: unset;
        min-width: unset;
        padding: 0px 10px !important;
        margin: 0px 2px 10px 2px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 0.7rem;
    }
    /* ---------------- */

    .tab_container {
        height: calc(100% - 59px);
    }
    button{
        padding: 0px 6px;
        margin-right: unset;
    }


    /* Header */
    #web-title h1{
        font-size: 1rem;
    }
    #web-title h2{
        display: none;
    }
    .navbar-brand {
        height: 30px;
    }
    .menu{
        height: 30px; 
    }
    .menu-item{
        padding: 5px 20px; 
    }

    /* Tabs */
    .tabs label{
        height: 25px;
        padding: 4px 10px 0px 10px;
        font-size: 0.8rem;
    }
    .tabs #graphs .menu-label:hover + span, .tabs #graphs span:hover{
        grid-template-rows: 25px;
        padding-top: 25px; 
    }
}

@media(max-height:800px){
    .sideBar#left_bar{
        height: calc(100% - 84px);
        top: 43px;
        left: 80px;
    }
}


@media(max-height:650px){
    .sideBar button:disabled, .sideBar button:disabled:hover{
        margin: 3px;
        font-size: 0.5rem;
        transition: all .1s ease-in-out;
    }

    #three_container .map-inputs{
        top: 25px;
        left: 60px;
    }
    #three_container .map-inputs .search-buttons button{
        height: 26.5px;
    }
    #three_container .map-inputs .topBar-contents{
        grid-template-rows: 27.5px 27.5px;
    }
    #three_container .map-inputs .balloon, #three_container .map-inputs .topBar-contents button{
        height:100%;
    }
    /* .sideBar#left_bar #labels label{
        font-size: 0.6rem;
    } */
    .sideBar#left_bar svg text{
        font-size: 0.6rem;
    }


    #three_container .graph-button{
        top: 87px;
        left: 60px;
    }


    .sideBar#left_bar{
        height: calc(100% - 84px);
        top: 43px;
        left: 113px;
    }

}

@media(max-height:600px){
    .sideBar button:disabled, .sideBar button:disabled,.sideBar button:disabled, .sideBar button:disabled:hover{
        display:none;
    }
}