* {
    box-sizing: border-box;
    font-family: "Quicksand";
}

body,html{
    margin: 0px;
    padding: 0px;
    background-color: #e8e8e81f;
}

.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - 60px);
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    grid-column: 1/-1;
    background: black;
}
.header button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    margin: 0px 5px;
    cursor: pointer;
}
.header button:hover{
    font-weight: bold;
}


.middle {
    width: 100%;
    display: flex;
    height: 100%;
}

/* --- IMG */

.raid-logo {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.raid-logo img {
    width: 100%;
    max-width: calc(100vh - 200px);
    transition: all .1s ease-in-out;
}
.raid-logo img:hover{
    /* opacity: 0.8; */
    transform: scale(1.02,1.005);
    /* transition: all .3s ease-in-out; */
}

/* ----------- */

.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-width: 500px;
}
.links label a{
    text-decoration: unset;
    font-size: 1rem;
    color: #828993;
}
.links label a:hover{
    color: #444;
}

.footer{
    grid-row: 3/4;
    grid-column: 1/-1;
    justify-self: end;
    align-self: end;
}

.footer a img{
    max-width:60px;
    width: 20vw;
}

@media(max-width:550px){
    .container {
        grid-template-rows: 60px calc(100vh - 140px) 60px;
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }

    .raid-logo{
        width: 100%; 
        height: max-content;
    }

    .links{
        width: 100%;
        min-width: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .links label{
        margin: 15px;
        text-align: center;
    }
    .links label a{
        font-size: 0.9rem;
    }
}