 body {
     margin: 0;
     padding: 0;
 }

 body,
 table,
 tr,
 td,
 th,
 div,
 h1,
 h2,
 input {
     font-family: "Calibri", "Trebuchet MS", "Ubuntu", Serif;
     font-size: 11pt;
 }

 #map {
     position: absolute;
     top: 0;
     bottom: 0;
     width: 100%;
 }

 /* full size */
 .ctl {
     padding: 2px 10px 2px 10px;
     background: white;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     text-align: right;
 }

 .title {
     font-size: 18pt;
     font-weight: bold;
 }

 .src {
     font-size: 10pt;
 }


 .zoom_19 {
     display: block;
     background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-19.d3d42acd.svg)
 }

 .zoom_20 {
     display: block;
     background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-20.1319cf04.svg)
 }

 .zoom_21 {
     display: block;
     background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-21.e299bd0f.svg);
 }

 .zoom_22 {
     display: block;
     background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-22.da43dc8b.svg)
 }

 .topGrid {
     position: absolute;
     left: calc(50% + 10px);
     top: calc(50% + 10px);
     width: 100%;
     /* transform: scale(0.745416, 0.745426); */
 }

 #overlayGrid {
     display: block;
     width: 4000px;
     height: 4000px;
     z-index: 500;
     position: absolute;
     transform: translate(-50%, -50%);
     background-repeat: no-repeat;
 }