
    .progress {
            width: 100%;
            text-align: center;
            font-size: 14px;
    }

    #toolset{
            position: fixed;
            left: 0;
            width: 30%;
    }
    
    #result_div{
        width: 90%;
        height: 100%;
        left: 400px;
        position: fixed;
        background-color: rgba(255,0,0,0.1);
    }


    #panel{
position: fixed;
left: 0px;
width: 310px;
height: 80vh;
overflow: auto;
background: #1f1f1f;
}

    #panel #content {

        padding: 0px 20px 20px 20px;
    }

    h2 {
        font-size: 15px;
        font-weight: normal;
    }

    body {
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
    color: #555;
    font-family: 'inconsolata';
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
}

#viewer {
    /* margin: 100px; */
    position: absolute;
    border: 0px;
    left: 310px;
    width: calc(100% - 310px);
    height: 100%;
    overflow: auto;
    top: 140px;
    /* bottom: 100px; */
}


#viewSrcButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px;
    color: #fff;
    background-color: #555;
    opacity: 0.7;
}


h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: normal;
}

.filterBlock {
    margin: 20px;
    position: relative;
}
#filterInput {
    width: 100%;
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    outline: none;
    border: 1px solid #dedede;
}

#clearFilterButton {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: grey;
    text-align: center;
    line-height: 0;
    padding-top: 7px;
    opacity: .5;
}

#header{
position: initial;
top: 0;
right: 0;
left: 0;
z-index: 1030;
background-color: #2d2d2d!important;
padding-top: 0.5rem;
padding-right: 1rem;
padding-bottom: 0.5rem;
padding-left: 1rem;
}
#header .container{
height:  50px;
}

.navbar-brand img {


    /*width: 2rem;*/
    height:  100%;

}

