body, html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    font-family: "Quicksand";
    font-size: 1rem;
}

.hidden{
    display:none !important;
}

/* .sub-container{
    display: unset !important;  
} */


#log-in {
    position: absolute;
    height: 20px;
    padding: 0px;
    border: none;
    background: transparent;
    top: 10px;
    left: 10px;
    z-index: 3;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    mix-blend-mode: exclusion;
}


/* General Grid */
.main{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 100vh;
    height: 100%;
    width:100%;
}

.bar-parent{
    height: 100%;
    width: max-content;
    z-index: 3;
    position: relative;
}

.bar {
    width: 20vw;
    height: 100%;
    padding: 60px 0px 30px 0px;
    background: white;
    min-width: 180px;
    max-width: 350px;
}

.mapContainer{
    width:100%;
    height:100%;
    /* background: #3c3c3c; */
}



/* ------Notification Popup*/
.disable-screen {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.25);
    z-index: 5;
}

.notification-popup {
    position: sticky;
    position: -webkit-sticky;
    top: calc(50vh - 175px);
    left: calc(50vh - 175px);
    width: 400px;
    height: max-content;
    margin: calc(50vh - 175px) auto;
    align-self: center;
    background-color: white;
    padding: 30px;
}
.notification-popup .message {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 340px;
    height: 340px;
}

.message-container{
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 340px;
}

.notification-popup .message #warning{
    color: #c40000;
    text-align: center;
    width: 100%;
}

.notification-popup .message p{
    color: #494949;
    text-align: justify;
}
.notification-popup .message label {
    color: black;
    word-break: keep-all;
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 2%;
}

.x-button{
    background: transparent !important;
    color: #b6b3b3 !important;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem !important;
    width: 20px !important;
    height: 20px !important;
    padding: 0px;
    border: none !important;
}

.x-button:hover{
    color: #464646 !important;
    cursor: pointer !important;
}

.error-message{
    position: absolute;
    width: calc(100% - 60px);
    text-align: center;
    color: #c40000;
    font-size: 0.8rem;
    bottom: 30px;
}


/* --- Warning */
.notification-popup .message .name {
    margin-top: 10px;
    font-weight: initial;
}
.notification-popup .message .value {
    width: 100%;
    height: 30px;
    background: #f2f2f2bf;
    padding: 5px;
    font-weight: unset;
}


/* -- Credentials */
.message div {
    display: flex;
    flex-direction: column-reverse;
    height: 25%;
    width: 100%;
}
.message div input{
    border: none;
    background: #e3e3e3;
    height: 40%;
    padding: 0px 5px;
}
.message div button{
    width: 30%;
    height: 40%;
    margin: 3% auto;
    border: none;
    background: transparent;
    font-size: 1.1rem;
}
.message div button:hover{
    font-weight: bolder;
}

/*-------------------------------- Bar */
.side-bar-toggle{
    position: absolute;
    background: transparent;
    border: none;
    top: 60px;
    right: 0px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 3;
}
.side-bar-toggle:hover{
    font-weight: bold;
}
.side-bar-toggle.in{
    left: 100%; 
    background: white;
}
.side-bar-toggle.in.down{
    bottom: 60px;
    top: auto;
    background: white;
}

.tab-buttons{
    height:max-content;
    width:100%;
    margin-bottom: 50px;
}
.tab-buttons .selected{
    background: #f5f5f591 !important;
    border: 1px solid #f5f5f591 !important;
}

.buttons-column {
    height: calc(100vh - 280px);
    overflow: auto;
    scrollbar-color: #000 #fff;
    scrollbar-width: thin;
}

.bar button{
    width: 100%;
    padding: 10px;
    text-align: start;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    height: 100%;
}
.bar button.selected, .bar button.current{
    background: #f5f5f5;
    border: 1px solid #f2f2f2;
    font-weight: bold;
}
.bar button a{
    text-decoration: none;
    color: black;
}

button .info {
    position: absolute;
    left: 20px;
    font-size: 1.1rem;
    top: 7px;
}

button .bullet{
    position: absolute;
    left: 25px;
    font-size: 1.3rem;
    height: 20px;
    top: 8px;
    display:none;
}
button.current .bullet{
    -webkit-animation: mover 1s infinite;
    animation: mover 1s infinite;
    display:unset !important;
}

@-webkit-keyframes mover {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(60deg); }
    40% { transform: rotate(120deg); }
    60% { transform: rotate(180deg); }
    80% { transform: rotate(240deg); }
    100% { transform: rotate(300deg); }
}

/* ------------- When Loaded ! */
button.loaded .bullet{
    display:unset !important;
    -webkit-animation: unset !important;
    animation: unset !important;
}


/*------------ Containers */
.header{
    display: flex;
    padding-left: 10px;
    background: black;
}
.header button{
    color: white;
}

button#minus{
    transform: rotate(90deg);
}

.sub-container button{
    padding-left: 40px;
}
.bar button:hover, .bar .header:hover *{
    font-weight: bolder !important;
}
.bar .category.selected .header *{
    font-weight: bolder !important;
}

/*------------------------------------------ PopUps */

#popups{
    position: absolute;
    z-index: 2;
    width: 20vw;
    min-width: 180px;
    max-width: 350px;
    height: 100%;
    top: 0px;
    right: 100%;
    color: white !important;
}

.popup{
    width: 100%;
    height: 100%;
    padding: 31px 20px;
    position: absolute;
    background: #9e9e9eab !important;
    overflow: auto;
    min-width: 400px;
    max-width: 600px;
}

.input-wrapper{
    margin: 5px 0px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.input-wrapper input {
    width: calc(50% - 10px);
    margin-right: 10px;
    border: none;
    padding: 3px;
    min-width: 100px;
    margin-top: 5px;
    font-size: 0.8rem;
}
.input-wrapper label {
    white-space: nowrap;
    width: calc(50% - 10px);
    min-width: 120px;
    margin-top: 5px;
}


.description{
    padding: 13px 0px;
}
.description p{
    margin: 0px;
}


/* Input Number */
.inputNumber {
    width: 35px !important;
    min-width: unset !important;
}
.inputNumber:disabled{
    background: #c9c9c9a3;
    -webkit-text-fill-color: #8c8c8c;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: textfield;
}

/* Input Range */
.inputRange {
    width: 30% !important;
    height: 1px;
    min-width: 80px !important;
    -webkit-appearance: none;
    background: #393939;
}
.inputRange::-webkit-slider-thumb, .inputRange::-moz-range-thumb{
    -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border:none;
  cursor: pointer;
  border-radius: 50%;
}
.inputRange:hover {
    opacity: 1;
    background: #2f2f2f;
}
.inputRange:disabled, .inputRange:disabled::-moz-range-thumb{
    opacity: 1;
    background: #c4c4c4;
}

/* Input Checkbox / Radio */
input[type=checkbox], input[type="radio"]{
    width: unset !important;
    min-width: unset !important;
}



.weight_container .input-wrapper{
    margin: unset;
}

.weight_container label{
    font-size: 0.8rem !important;
}
.weight_container label:hover{
    -webkit-text-fill-color: #070707b0 !important;
    font-weight: bold;
}


/* Smoothening */
#smoothening span, #path-end-points span{
    display: flex !important;
    align-items: center;
}

/* #smoothening span span, #path-end-points span span, #path-end-points div{
    font-size: 0.9rem !important;
} */

.input-group h3{
    font-weight: unset;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #a8a8a8;
    width: 70%;
    color: black;
    text-align: start;
}

#smoothening .input-group, #path-end-points .input-group{
    margin-bottom: 40px;
}

#path-end-points .text-input{
    margin: 30px 20px;
}

input[type=checkbox], label{
    cursor: pointer;
}



/* -------------------------Grid Weights */
.weight_{
    position: relative;
}

.weight_ .context-container {
    position: absolute;
    right: 0px;
    display: none !important;
    z-index: 3;
    width: 55%;
    background: transparent;
    color: black;
}

.weight_ .context{
    background: #fff;
    width: 100%;
    font-size: 0.75rem !important;
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 1px 5px rgba(4, 4, 4, 0.62);
    max-width: 200px;
    display: flex !important;
    align-items: center;
}
.context-container.bottom{
    top: 100%;
}
.context-container.top{
    bottom: 100%;
}
.name-contaner{
    cursor: default;
}

.name-contaner:hover + .context-container{
    display: unset !important;
}



/* ------------------------ Designed Alignment */
.popup.designed-alignment-tab {
    width: 20px;
    transition: all 1s ease-in-out;
    padding: 0px;
    overflow: hidden;
    background: #3c3c3cd6 !important;
    max-width: unset;
}
.popup.designed-alignment-tab.in{
    width: 80vw;
}
.popup.slide{
    left: -800px;
}

.popup.slide.in.full-screen{
    left: 100%;
    width: 100vw !important;
}

.popup.in.move-front{
    z-index: 3;
    background: #f5f5f5e0 !important;
}

/* ------------- Open/Close PopUps */
/* Transform */
.transform{
    -webkit-transition: all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;  
    -o-transition: all 0.5s ease-in-out;  
    -ms-transition: all 0.5s ease-in-out;  
    transition: all 0.5s ease-in-out;
}

/*Slide */
.slide{
    position: absolute !important;
    left: -400px;
}

.slide.in{
    left: 200%;
}

#slide .tabs{
    position: relative;
    overflow-y: hidden;
}


/*Fade */
.fade{
    position: absolute !important;
    opacity: 0;
}

.fade.in{
    opacity:1;
}

#fade .tabs{
    position: relative;;
    overflow-y: hidden;
}



/* -------------------Tabs */
.main_page, .tabs, .tab_container, #three_container, iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.tabs{
    background: white;
}

/* --------------------------------------Data Layers */
#tab-2{
    display: flex;
}

#here_image{
    width: 100%;
    height: auto;
    margin: auto;
}



/* -------------------------------------------------Map */
#three_container{
    position: relative;
}

/* ----------------Map Inputs */
#three_container .map-inputs {
    width: max-content;
    position: absolute;
    top: 397px;
    right: 15px;
    z-index: 1;
    display: flex;
}

#three_container .map-inputs .search-buttons{
    width: min-content;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 5px rgba(4, 4, 4, 0.62);
    height: min-content;
}
#three_container .map-inputs .search-buttons button{
    background-color: #464646;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 26px;
    font-weight: inherit;
    padding: 0px;
    margin: 0px;
    width: 26px;
    font-size: 0.7rem;
}

#three_container .map-inputs .topBar-contents {
    width: min-content;
    padding: 0px;
    background: transparent;
    margin-right: 5px;
    height: min-content !important;
    display: grid !important;
    grid-template-rows: 26px 26px;
}

#three_container .topBar-contents .w3w{
    grid-row: 1/2;
}
#three_container .topBar-contents .lat-long{
    grid-row: 2/3;
}

#three_container .map-inputs .topBar-contents div{
    width: max-content;
    display: flex;
    margin: 0px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    border-radius: 4px;
    border: 1px solid #9f9f9f;
    flex-wrap: unset;
    order: unset;
    flex: unset;
    padding: 0px;
}

#three_container .map-inputs .row span{
    position: relative;
    display: inline-block;
    margin: 0px;
    width: min-content;
}
#three_container .map-inputs .balloon{
    border: 1px solid #ccc;
    display: inline-block;
    width: 180px;
    padding: 0px;
    font-weight: 400;
    color: #747f8f;
    font-family: 'Work Sans', sans-serif;
    background: #fff;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    outline: 0;
    text-indent: 60px;
    transition: all .3s ease-in-out;
    height: 25px;
    padding-left: 10px;
}

#three_container .map-inputs .balloon + labelaki{
    top: 0px;
    left: -1px;
    display: inline-block;
    position: absolute;
    padding: 5px 0px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all .3s ease-in-out;
    border-radius: 3px;
    background: rgb(68, 68, 68);
    height: 24px;
    width: 65px;
    margin: 0.5px;
}
#three_container .map-inputs .balloon:focus + labelaki,
#three_container .map-inputs .balloon:active + labelaki {
  color: #fff;
  background: rgb(68, 68, 68);
  transform: translateY(0px); 
}

#three_container .map-inputs .topBar-contents button{
    background-color: #fff;
    color: #464646;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    height: 25px;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    width: 25px;
}



#three_container .graph-button {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 459px;
    right: 15px;
    z-index: 1;
}

#three_container .graph-button button{
    border-radius: 4px;
    width: 27px;
    height: 27px;
    padding: 2px;
    margin: 0px;
    background: #ecececab;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.33);
    border: 1px solid #bfbfbf;
    cursor: pointer;
}


#three_container .graph-button button img{
    width: 21px;
    height: 21px;
}


/* -----------Graph */
.sideBar#left_bar {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 115px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    height: calc(50% - 50px);
    background: #ecececab;
    top: auto;
    left: auto;
    margin: 0px;
    transition: none;
    box-sizing: unset;
    right: 60px;
    bottom: 90px;
}

.sideBar#left_bar h5 {
    color: #464646;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid grey;
    width: 100%;
    align-self: center;
    margin-bottom: 15px;
    height: 25px !important;
    font-weight: bold;
}

.sideBar#left_bar svg{
    width: 15px;
    height: calc(100% - 40px);
}
#labels-svg{
    width: 80px !important;
}
.sideBar#left_bar svg g#graph{
    width: 15px;
    height: auto;
    transform: translate(calc(100% - 15px), 0px);
}
.sideBar#left_bar svg#labels{
    width: 100%;
    height: auto;
    transform: translate(0px, 11px);
}
.sideBar#left_bar svg g#labels{
    width: 100%;
    height: auto;
    transform: translate(0px, 11px);
}

.sideBar#left_bar svg text {
    fill: black;
    font-size: 60%;
}


/* -----------------------------Graggable */
.draggable{
    position: absolute;
    top: 60%;
    left: calc(50% - 150px);
    z-index: 5;
    background-color: black;
}

.window{
    width:300px;
    height:300px;
    resize: both;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

textarea{
    width: 100%;
    height: calc(100% - 50px);
    resize: none;
    background: transparent;
    border: none;
    color: #05c305;
}

.drag-btn{
    width:100%;
    height:30px;
    background-color: transparent;
    color: white;
    cursor: move;
    border-bottom: 1px solid gray;
    font-size: 0.9rem;
}

.drag-btn button{
    margin: 0px;
    padding: 5px 10px;
    background-color: transparent;
    color: lightgray;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: max-content;
    float: inline-end;
}
.drag-btn button:hover{
    font-weight: bolder;
}

.window .buttons{
    width: 100%;
    background: #212121;
    display: flex;
    justify-content: center;
}
.window .buttons button{
    width: 100%;
    border-radius: 0px;
}
.window .buttons button:hover{
    background: #bdbaba30;
}

.window button{
    padding: 3px 10px;
    background-color: transparent;
    color: lightgray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100px;
}

.drag-btn:hover{
    background-color: #acacac1c;
}

.footer button{
    background-color: transparent;
    color: lightgray;
    border: none;
    cursor: pointer;
    width: max-content;
    float: inline-end;
    border-radius: 0px;
    margin: 0px;
}
.footer button:hover{
    background: #444;
}

/* --------Path Name */
#path-names {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
}
#path-names label{
    margin: 0px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    mix-blend-mode: exclusion;
    color: white;
}

/* -----------RAID logo */
#raid-logo {
    position: absolute;
    height: 27px;
    bottom: 20px;
    right: 20px;
}
#raid-logo img {
    height: 100%;
    mix-blend-mode: exclusion;
}


@media(min-width:1765px){
    .bar{
        width: 350px;
    }
    .designed-alignment-tab.in{
        width:calc(100vw - 350px) !important;
    }
}



@media (max-width:700px){
    .popup {
        width: calc(100vw - 180px);
        min-width: unset;
    }

    .input-wrapper input {
        width: 90%;
    }
    .inputRange{
        display: none !important;
    }
    .input-wrapper label {
        white-space: nowrap;
        margin-top: 5px;
        width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    #raid-logo {
        position: absolute;
        height: 30px;
        bottom: 20px;
        right: 20px;
    }
    #path-names {
        position: absolute;
        bottom: 25px;
        left: 10px;
        display: flex;
    }
}

@media (max-width:450px){
    #popups {
        z-index: 3;
    }
    .popup {
        width: 70vw;
        min-width: unset;
        background: #676767eb !important;
    }
    .slide.in {
        left: calc(180px + 30vw);
    }

    .input-wrapper{
        flex-wrap: wrap;
    }

    .transform {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }


    #three_container .map-inputs .balloon{
        width: calc(100vw - 280px);
        text-indent: unset;
    }
    #three_container .map-inputs .balloon + labelaki {
        top: -26px;
    }

    #path-names {
        display: none;
    }

    #path-names {
        display: none !important;
    }

    #raid-logo {
        display: none !important;
    }


    .notification-popup {
        width: 100%;
        height: 100%;
        margin: unset;
        align-self: center;
        background-color: white;
        padding: 30px;
    }
    .notification-popup .message {
        width: 100%;
        height: 100%;
        margin: auto;
    }


    .sideBar#left_bar{
        right: 40px;
    }
}

@media(max-height:700px){
    *{
        font-size: 0.9rem;
    }


    #raid-logo {
        position: absolute;
        height: 5vh;
        min-height: 19px;
        bottom: 20px;
        right: 50px;
    }
    #path-names label {
        font-size: 0.8rem;
    }

    .side-bar-toggle {
        right: 10px;
    }

    .sideBar#left_bar{
        top: 10px;
        height: calc(100% - 100px);
    }
}


@media(max-height:500px){
    .notification-popup {
        width: 100%;
        height: 100%;
        margin: unset;
        align-self: center;
        background-color: white;
        padding: 30px;
    }
    .notification-popup .message {
        width: 100%;
        height: 100%;
        margin: auto;
        max-width: 400px;
    }

    #three_container .graph-button {
        bottom: 10px !important;
        right: 50px !important;
        top: auto !important;
    }
    
}

@media(max-height:450px){
    #three_container .map-inputs {
        bottom: 45px !important;
        right: 51px !important;
        top: auto !important;
    }
}


@media(max-height:400px){
    #raid-logo {
        right: calc(50% - 20px) !important;
    }
    .designed-alignment-tab #raid-logo{
        right: 50px !important;
    }

}
