
/* ----------General */
*{
    box-sizing: border-box;
}

body,html{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    background-color: #212121;
    width: 100vw;
    max-width: 100%;
    /* overflow-x: hidden; */
}


/* ---Slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


/*---------------------------------------- Grid */
.main {
    display: grid;
    grid-template-rows: 60px max-content 40px;
    width: 100%;
}

/* Header */
.header {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    height:50px;
    width:max-content;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
}
.navbar-brand img {
    height: 100%;
}

#web-title{
    font-family: 'Space Mono';
    color: #c5d0df;
    font-size: 0.65rem;
    text-align: center;
}
#web-title h1{
    transform: scale(1, 0.8);
}
#web-title h1, #web-title h2{
    margin: 0px;
}

/* Graph Row */
.graphControls {
    width: 100%;
    height: 50px;
    background-color: #fffee9;
}
.graphArea {
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
    display: flex;
}


/* Main */
.mainArea {
    /* width: 100%;
    height: 1300px;
    background-color: #f5f5f5;
    text-align: center; */

    background-color: #f5f5f5;
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr 25vw;
    grid-template-rows: 90vh;
}

.topBar {
    /* width: 100%; */
    /* height: 150px; */
    background-color: #212121;
    /*  position: fixed;*/

    width: 100%;
    height: max-content;
    grid-column: 1/-1;
    grid-row: 1/2;

    display: flex;
}

.topBar-contents{
    display: inline-block;
    width: 100%;
    height: 100%;
    
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

/* .topBar-contents div{
    width: 30%;
    max-width: 500px;
    min-width: max-content;

    display: grid;
    grid-template-columns: 250px 250px;
    align-items: center;
    grid-gap: 0px 10px;
} */



.mapContainer {
    /* margin-left: 350px;
    margin-right: 300px;
    width: calc(100% - 700px);
    height: 1150px;
    text-align: center; */

    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.mapContainer .main_page{
    height: 100%;
}
.tab_container{
    height: calc(100% - 69px);
    max-width: calc(100% - 36px);
    background: whitesmoke;
}

.mapArea {
    width: 1024px;
    height: 1024px;
    background-color: white;
    display: inline-block;
    margin-top: 100px;
    /* position: fixed; */
}


#processTasksConainter{
    height: 100%;
}

.weight_container{
    height: calc(100% - 25px);
}

.d3graph {
    width: 50%;
    height: 100%;
}

.d3graph #d3graph_right {

    flex-grow: 1;

}

.sideBar {
    /* width: 350px;
    height: 1150px;
    background-color: #f5f5f5; */
}


.sideBar#left_bar {
    /* float: left; */
}


.sideBar#right_bar {
    /* float: right; */
}

.footer {
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


#three_container {
    display: flex;
    position:relative;
    width: calc(100% - 35px);
    max-height: calc(100% - 30px);
}


canvas {
    display: flex;
    width: inherit;
    height: inherit;
}

iframe {
    border: 0px;
    margin: 0px;
}

rect {
    stroke: #464646;
    stroke-width: 0.5;
    opacity: 0.8;
}
rect:hover{
    cursor: pointer;
}

a {
    width: 100%;
    height: 100%;
}


.inputRange {

    width: 10%;
    height: 10%;
    float: left;
}



.weight_{

    display: inline;
    -webkit-text-fill-color: black;
}

/*map*/

 #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    /* full size */
    .ctl {
        padding: 2px 10px 2px 10px;
        background: white;
        /*                    background: rgba(255,255,255,0.9);
*/
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        text-align: right;
    }

    .title {
        font-size: 18pt;
        font-weight: bold;
    }

    .src {
        font-size: 10pt;
    }


    .zoom_19 {
        display: block;
        background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-19.d3d42acd.svg)
    }

    .zoom_20 {
        display: block;
        background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-20.1319cf04.svg)
    }

    .zoom_21 {
        display: block;
        background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-21.e299bd0f.svg);
    }

    .zoom_22 {
        display: block;
        background-image: url(https://mapassets.what3words.com/map/v3.5.5/static/media/grid-black-22.da43dc8b.svg)
    }

    .topGrid {
        position: absolute;
        left: calc(50% + 10px);
        top: calc(50% + 10px);
        width: 100%;
        /* transform: scale(0.745416, 0.745426); */
    }

    #overlayGrid {
        display: block;
        width: 4000px;
        height: 4000px;
        z-index: 500;
        position: absolute;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
    }